<table>
    <tr>
        <td>
            <h1 style="text-align: center;">   
 
                <%= link_to "Adventure", photoworld_adventure_path %>
            </h1>
        </td>
        <td>
            <tr>

             <table>
                <tr>
                    <td>
                        <%= image_tag("a1.jpeg", class:"img-thumbnail", :alt => "adventure") %>
                    </td>
                    <td>
                        <%= image_tag("a2.jpeg", class:"img-thumbnail", :alt => "adventure") %>
                    </td>
                    <td>
    
                        <%= image_tag("a3.jpeg", class:"img-thumbnail", :alt => "adventure") %>
                    </td>
               
                    <td>
    
                        <%= image_tag("a4.jpeg", class:"img-thumbnail", :alt => "adventure") %>
                     </td>
                    
    
                        
                    </td>
                </tr>
            </table>
           </tr>     
        </td>
    </tr>
</table>