<table>
        <tr>
            <td>
                <h1 style="text-align: center;">   
     
                    <%= link_to "Nature", photoworld_nature_path %>
                </h1>
            </td>
            <td>
              <tr>
                <table>
                    <tr>
                        <td>
                            <%= image_tag("1.jpeg", class:"img-thumbnail", :alt => "nature") %>
                        </td>
                        <td>
                             <%= image_tag("2.jpeg", class:"img-thumbnail", :alt => "nature") %>
                            
                        </td>
                        <td>
                             <%= image_tag("3.jpeg", class:"img-thumbnail", :alt => "nature") %>
                            
                        </td>
                    
                        <td>
                             <%= image_tag("4.jpeg", class:"img-thumbnail", :alt => "nature") %>
                            
                        </td>
                    </tr>
                </table>
              </tr>
          </td>
      </tr>
  </table>