<table>
    <tr>

        <td>
            <h1 style="text-align: center;">   
                <%= link_to "Wild Life", photoworld_wild_path %>

            </h1>
        </td>
        <td>
            <tr>
             <table>
                <tr>
                    <td>
                        <%= link_to image_tag("5.jpeg", class:"img-thumbnail", :alt => "nature") %>
                        </td>
                        <td>
    
                        <%= image_tag("6.jpeg", class:"img-thumbnail", :alt => "nature") %>
                        </td>
                        <td>
                    
                        <%= image_tag("7.jpeg", class:"img-thumbnail", :alt => "nature") %>
                        </td>
                
                        <td>
                    
                        <%= image_tag("8.jpeg", class:"img-thumbnail", :alt => "nature") %>
                        </td>
                        
                    </td>
                </tr>
            </table>
          </tr>
        </td>
    </tr>
</table>